{% extends "base.html" %}

{% block zawartosc %}
    <h1>Zarządzanie serwerem</h1>
    
    <div style="background-color: #2d2d2d; padding: 20px; border-radius: 10px; width: 400px;">
        <p>Status: <span style="color: gray; font-weight: bold;">Offline 🔴</span></p>
        <p>Adres: <b style="color: #ff8c00;">twojanazwa.kokoszka.me</b></p>
        <p>Silnik: Vanilla 1.20.4</p>
        
        <br>
        <button class="btn-start">Uruchom Serwer</button>
    </div>
{% endblock %}